@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  width: 400px;
  height: 400px;
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev::after,
.swiper-button-next::after {
  zoom: 0.8;
  filter: grayscale(100%);
}

.swiper-pagination {
  filter: grayscale(100%);
}

/* 検索フィールド２：標準＋キャンセルボタンポインター付き */
#clearbutton2::-webkit-search-cancel-button { 
  cursor:pointer; /*  キャンセルボタンにポインターを付ける  */
}